name: Update - Customer Loyalty Agent

on:
  push:
    branches:
      - main
    paths:
      - 'src/app/agents/customerLoyaltyAgent_initializer.py'
      - 'src/prompts/CustomerLoyaltyAgentPrompt.txt'
      - 'src/app/tools/discountLogic.py'
      - '.github/workflows/run-customer-loyalty-agent.yml'
  workflow_dispatch:

jobs:
  run-agent-initializer:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: 'src/requirements.txt'
      
      - name: Install dependencies
        working-directory: ./src
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Run Customer Loyalty Agent Initializer
        working-directory: ./src/app/agents
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          APPLICATIONINSIGHTS_CONNECTION_STRING: ${{ secrets.APPLICATIONINSIGHTS_CONNECTION_STRING }}
          AZURE_AI_AGENT_ENDPOINT: ${{ secrets.AZURE_AI_AGENT_ENDPOINT }}
          AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME: ${{ secrets.AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME }}
          customer_loyalty: ${{ secrets.CUSTOMER_LOYALTY_AGENT_ID }}
          AZURE_OPENAI_ENDPOINT: ${{ secrets.AZURE_OPENAI_ENDPOINT }}
          gpt_deployment: ${{ secrets.GPT_DEPLOYMENT }}
          AZURE_OPENAI_KEY: ${{ secrets.AZURE_OPENAI_KEY }}
        run: |
          python customerLoyaltyAgent_initializer.py
      
      - name: Azure Logout
        if: always()
        run: |
          az logout
